[submodule "weft"]
	path = weft
	url = https://github.com/NguyenKhacPhuc/android-harness.git
[submodule "undercurrent"]
	path = undercurrent
	url = https://github.com/NguyenKhacPhuc/undercurrent.git
[submodule "backend"]
	path = backend
	url = https://github.com/NguyenKhacPhuc/undercurrent-backend.git
